# java
*.class
*.log

# gradle
.gradle
/**/build/
/**/bin/
gradle-app.setting
!gradle-wrapper.jar
.gradletasknamecache

# eclipse
/**/target/
/**/.settings/
/**/.classpath
/**/.factorypath
/**/.project

